In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("D:\Downloads\pokemon_data.csv")

In [4]:
print(df.head(3))

   #       Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  \
0  1  Bulbasaur  Grass  Poison  45      49       49       65       65     45
1  2    Ivysaur  Grass  Poison  60      62       63       80       80     60
2  3   Venusaur  Grass  Poison  80      82       83      100      100     80

   Generation  Legendary
0           1      False
1           1      False
2           1      False

### Reading Data in Pandas

In [5]:
df.loc[df['Type 1'] == 'Fire',['Name']].head(3)

         Name
4  Charmander
5  Charmeleon
6   Charizard

In [6]:
df.sort_values('Name')

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
510,460,Abomasnow,Grass,Ice,90,92,75,92,85,60,4,False
511,460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False
68,63,Abra,Psychic,NaN,25,20,15,105,55,90,1,False
392,359,Absol,Dark,NaN,65,130,60,75,60,75,3,False
393,359,AbsolMega Absol,Dark,NaN,65,150,60,115,60,115,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...
632,571,Zoroark,Dark,NaN,60,105,60,120,60,105,5,False
631,570,Zorua,Dark,NaN,40,65,40,80,40,65,5,False
46,41,Zubat,Poison,Flying,40,45,35,30,40,55,1,False
695,634,Zweilous,Dark,Dragon,72,85,70,65,70,58,5,False
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True

In [7]:
df['Total'] = df.iloc[:,4:10].sum(axis = 1)
print(df.head(3))

   #       Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  \
0  1  Bulbasaur  Grass  Poison  45      49       49       65       65     45
1  2    Ivysaur  Grass  Poison  60      62       63       80       80     60
2  3   Venusaur  Grass  Poison  80      82       83      100      100     80

   Generation  Legendary  Total
0           1      False    318
1           1      False    405
2           1      False    525

In [8]:
df.to_csv('D:\Downloads\modified.csv', index = False)

### Filtering Data

In [24]:
new_df = df.loc[((df['Type 1'] == 'Fire') | (df['Type 1'] == 'Water') | (df['Type 1'] == 'Grass')) & (df['Legendary'] == True)]
new_df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
158,146,Moltres,Fire,Flying,90,100,90,125,85,90,1,True,580
263,244,Entei,Fire,NaN,115,115,85,90,75,100,2,True,580
264,245,Suicune,Water,NaN,100,75,115,90,115,85,2,True,580
270,250,Ho-oh,Fire,Flying,106,130,90,110,154,90,2,True,680
421,382,Kyogre,Water,NaN,100,100,90,150,140,90,3,True,670
422,382,KyogrePrimal Kyogre,Water,NaN,100,150,90,180,160,90,3,True,770
541,484,Palkia,Water,Dragon,90,120,100,150,120,100,4,True,680
542,485,Heatran,Fire,Steel,91,90,106,130,106,77,4,True,600
550,492,ShayminLand Forme,Grass,NaN,100,100,100,100,100,100,4,True,600
551,492,ShayminSky Forme,Grass,Flying,100,103,75,120,75,127,4,True,600
701,640,Virizion,Grass,Fighting,91,90,72,90,129,108,5,True,580
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,600

In [26]:
new_df.reset_index(drop = True, inplace = True)
new_df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,146,Moltres,Fire,Flying,90,100,90,125,85,90,1,True,580
1,244,Entei,Fire,NaN,115,115,85,90,75,100,2,True,580
2,245,Suicune,Water,NaN,100,75,115,90,115,85,2,True,580
3,250,Ho-oh,Fire,Flying,106,130,90,110,154,90,2,True,680
4,382,Kyogre,Water,NaN,100,100,90,150,140,90,3,True,670
5,382,KyogrePrimal Kyogre,Water,NaN,100,150,90,180,160,90,3,True,770
6,484,Palkia,Water,Dragon,90,120,100,150,120,100,4,True,680
7,485,Heatran,Fire,Steel,91,90,106,130,106,77,4,True,600
8,492,ShayminLand Forme,Grass,NaN,100,100,100,100,100,100,4,True,600
9,492,ShayminSky Forme,Grass,Flying,100,103,75,120,75,127,4,True,600
10,640,Virizion,Grass,Fighting,91,90,72,90,129,108,5,True,580
11,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,600

In [28]:
new_df.to_csv('Filtered.csv')

### Filtering using regex

In [42]:
import re

#df.loc[df['Name'].str.contains('Mega')]

df.loc[df['Name'].str.contains('^pi[a-z]*', flags = re.I , regex = True)]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
20,16,Pidgey,Normal,Flying,40,45,40,35,35,56,1,False,251
21,17,Pidgeotto,Normal,Flying,63,60,55,50,50,71,1,False,349
22,18,Pidgeot,Normal,Flying,83,80,75,70,70,101,1,False,479
23,18,PidgeotMega Pidgeot,Normal,Flying,83,80,80,135,80,121,1,False,579
30,25,Pikachu,Electric,NaN,35,55,40,50,50,90,1,False,320
136,127,Pinsir,Bug,NaN,65,125,100,55,70,85,1,False,500
137,127,PinsirMega Pinsir,Bug,Flying,65,155,120,65,90,105,1,False,600
186,172,Pichu,Electric,NaN,20,40,15,35,35,60,2,False,205
219,204,Pineco,Bug,NaN,50,65,90,35,35,15,2,False,290
239,221,Piloswine,Ice,Ground,100,100,80,60,60,50,2,False,450
438,393,Piplup,Water,NaN,53,51,53,61,56,40,4,False,314
558,499,Pignite,Fire,Fighting,90,93,55,70,55,55,5,False,418
578,519,Pidove,Normal,Flying,50,55,50,36,30,43,5,False,264

### Conditional Changes

In [46]:
df.loc[df['Type 1'] == 'Fire', 'Legendary'] = True
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,True,309
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,600
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,700
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,600
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,680
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,600

In [53]:
df = pd.read_csv('modified.csv')
df

,Unnamed: 0,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,600
796,796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,700
797,797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,600
798,798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,680
799,799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,600

###

In [66]:
df.groupby(['Type 1'])['HP'].mean().sort_values(ascending = False)

Type 1
Dragon      83.312500
Normal      77.275510
Fairy       74.117647
Ground      73.781250
Water       72.062500
Ice         72.000000
Flying      70.750000
Psychic     70.631579
Fire        69.903846
Fighting    69.851852
Grass       67.271429
Poison      67.250000
Dark        66.806452
Rock        65.363636
Steel       65.222222
Ghost       64.437500
Electric    59.795455
Bug         56.884058
Name: HP, dtype: float64

In [68]:
df.groupby(['Type 1']).count()

,Unnamed: 0,#,Name,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
Type 1,,,,,,,,,,,,,
Bug,69,69,69,52,69,69,69,69,69,69,69,69,69
Dark,31,31,31,21,31,31,31,31,31,31,31,31,31
Dragon,32,32,32,21,32,32,32,32,32,32,32,32,32
Electric,44,44,44,17,44,44,44,44,44,44,44,44,44
Fairy,17,17,17,2,17,17,17,17,17,17,17,17,17
Fighting,27,27,27,7,27,27,27,27,27,27,27,27,27
Fire,52,52,52,24,52,52,52,52,52,52,52,52,52
Flying,4,4,4,2,4,4,4,4,4,4,4,4,4
Ghost,32,32,32,22,32,32,32,32,32,32,32,32,32
Grass,70,70,70,37,70,70,70,70,70,70,70,70,70
Ground,32,32,32,19,32,32,32,32,32,32,32,32,32
Ice,24,24,24,11,24,24,24,24,24,24,24,24,24
Normal,98,98,98,37,98,98,98,98,98,98,98,98,98
Poison,28,28,28,13,28,28,28,28,28,28,28,28,28
Psychic,57,57,57,19,57,57,57,57,57,57,57,57,57
Rock,44,44,44,35,44,44,44,44,44,44,44,44,44
Steel,27,27,27,22,27,27,27,27,27,27,27,27,27
Water,112,112,112,53,112,112,112,112,112,112,112,112,112